body {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* HEADER */
header {
    width: 90%;
    height: 75px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .left-icons, header .right-icons {
    width: 130px;
    display: flex;
}


header a:not(:last-child) {
    margin-right: 20px;
}

header a img {
    width: 100%;
}

/* NAV */
nav {
    width: 50%;
    margin: 0 auto;
}

/* Search group */
nav .search-group {
    width: 100%;
    height: 70px;
    border: 1.2px solid rgb(27, 139, 27);
    border-radius: 30px;
    display: flex;
}

nav .search-group:hover {
    box-shadow: 0 2px 0 0 rgb(219, 210, 210);
}

nav .search-group .link-icon{
    width: 10%;
    height: inherit;
    position: relative;
}


nav .search-group .link-icon img{
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3px;
}
nav .search-group .fieldset {
    width: 90%;
    height: inherit;
    display: flex;
}

nav .search-group .fieldset > input {
    width: 80%;
    height: 95%;
    border: none;
    outline: none;
    font-size: 27px;
}
nav .search-group .fieldset > input::placeholder {
    opacity: 0.6;
}

nav .search-group .fieldset button {
    width: 10%;
    height: inherit;
    display: none;
}

nav .sub-icons {
    height: 75px;
    background-color: orange;
    display: flex;
    margin-top: 20px;
}

nav .sub-icons > .icon-box {
    width: 100%;
    height: 75px;
    border: 2px dashed green;
    display: flex;
    justify-content: center;
}

nav .sub-icons > .icon-box span{
    color: #333;
    font-size: 20px;
    font-weight: 500;
}

/* SECTION */
 section {
    width: 90%;
    height: 1200px;
    margin: 0 auto;
    border: 2px dashed orange;
 }

 