body {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* HEADER */
header {
    width: 90%;
    height: 75px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .left-icons, header .right-icons {
    width: 130px;
    display: flex;
}


header a:not(:last-child) {
    margin-right: 20px;
}

header a img {
    width: 100%;
}

/* NAV */
nav {
    width: 50%;
    margin: 0 auto;
}

/* Search group */
nav .search-group {
    width: 100%;
    margin-bottom: 30px;
    border: 1.2px solid rgb(27, 139, 27);
    border-radius: 30px;
    display: flex;
}

nav .search-group:hover {
    box-shadow: 0 2px 0 0 rgb(219, 210, 210);
}

nav .search-group .link-icon{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .search-group .link-icon img{
    width: 40px;
}

nav .search-group .fieldset {
    width: 90%;
    height: inherit;
    display: flex;
}

nav .search-group .fieldset > input {
    width: 80%;
    height: 60px;
    border: none;
    outline: none;
    font-size: 25px;
}
nav .search-group .fieldset > input::placeholder {
    opacity: 0.6;
}

nav .search-group .fieldset button {
    width: 10%;
    height: inherit;
    display: none;
}

nav .sub-icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

nav .sub-icons > .icon-box {
    width: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 미디어 쿼리를 활용하여 스크린 확대시 레이아웃 깨짐 방지할 것.  */
nav .sub-icons > .icon-box span{
    color: #333;
    font-size: 20px;
    font-weight: 500;
}

nav .sub-icons > .icon-box a img {
    width: 100%;
}

/* SECTION */
main {
    width: 90%;
    height: 1000px;
    background-color: beige;
    margin: 0 auto;
    display: flex;
} 
section {
    width: 70%;
    height: 500px;
    border: 3px solid orange;
 }

 aside {
    width: 30%;
    height: 500px;
    border: 3px solid green;
 }