body{
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;;
    font-size: 1rem;
    line-height: 1rem;
}
ul {
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
p {
    display: inline;
}
a {
 text-decoration: none;
 color: black;
}

/* css 변수를 활용하여 text or bg-color 결정  */
:root {
    --color_title: #080808;
    --color_title_rgb: 8,8,8;
    --color_body: #101010;
    --color_body_rgb: 16,16,16;
    --color_caption1: #404040;
    --color_caption1_rgb: 64,64,64;
    --color_caption2: #606060;
    --color_caption2_rgb: 96,96,96;
    --color_search: #000;
    --color_search_rgb: 0,0,0;
    --color_border_out: #e3e5e8;
    --color_border_out_rgb: 227,229,232;
    --color_border_in: #ebebeb;
    --color_border_in_rgb: 235,235,235;
    --color_border_in_divider: #ebebeb;
    --color_border_in_divider_rgb: 235,235,235;
    --color_border_in_exception: #ebebeb;
    --color_border_in_exception_rgb: 235,235,235;
    --color_button_border: #dadcdf;
    --color_button_border_rgb: 218,220,223;
    --color_dot_divider: #d3d5d7;
    --color_dot_divider_rgb: 211,213,215;
    --color_block_bg: #fff;
    --color_block_bg_rgb: 255,255,255;
    --color_board_bg: #f4f6fa;
    --color_board_bg_rgb: 244,246,250;
    --color_option_bg: #f5f7f8;
    --color_option_bg_rgb: 245,247,248;
    --color_login_bg: #fafbfb;
    --color_login_bg_rgb: 250,251,251;
    --color_menu_widget_bg: #fff;
    --color_menu_widget_bg_rgb: 255,255,255;
    --color_setting_bg: #fff;
    --color_setting_bg_rgb: 255,255,255;
    --color_button1_bg: #fff;
    --color_button1_bg_rgb: 255,255,255;
    --color_button2_bg: #fff;
    --color_button2_bg_rgb: 255,255,255;
    --color_news: #3a67ea;
    --color_news_rgb: 58,103,234;
    --color_news_econ_stay: #909aab;
    --color_news_econ_stay_rgb: 144,154,171;
    --color_news_econ_down: #4f67d6;
    --color_news_econ_down_rgb: 79,103,214;
    --color_live_news_price: #f4361e;
    --color_live_news_price_rgb: 244,54,30;
    --color_enter: #e538e2;
    --color_enter_rgb: 229,56,226;
    --color_enter_bg: #f2f1fb;
    --color_enter_bg_rgb: 242,241,251;
    --color_sports: #1f65ef;
    --color_sports_rgb: 31,101,239;
    --color_sports_bg: #f4f7fe;
    --color_sports_bg_rgb: 244,247,254;
    --color_econ: #008f76;
    --color_econ_rgb: 0,143,118;
    --color_calendar: #eb5b5b;
    --color_calendar_rgb: 235,91,91;
    --color_dic: #031f5f;
    --color_dic_rgb: 3,31,95;
}
@media(min-width: 1000px){
.wrap-center{
    width: 1200px;
    margin: 0 auto;
    padding-top: 18px;
}
}
/* HEADER */
header {
    justify-content: space-between;
}
header, .header-left, .header-right, .header-wrapper{
    display: flex;
}
.header-wrapper {
    width: 46px;
    height: 46px;
    justify-content: center;
    align-items: center;
}
.header-wrapper:hover {
    background-color: var(--color_option_bg);
    border-radius: 50%;
}
.header-hamburger, .header-pay, .header-talk, .header-notice {
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: 435px 423px;
    cursor: pointer;
    background-image: url(./sp_main.png);
}
.header-hamburger {
    background-position: -82px -329px;
}
.header-pay {
    width: 32px;
    height: 32px;
    background-position: -295px -177px;
}
.header-talk {
    background-position: -190px -329px;
}
.header-notice {
    background-position: -136px -329px;
}

/* SEARCH */
.search {
    display: flex;
    justify-content: center;
}
.search-group {   
    width: 708px;
    height: 60px;
    display: flex;
    /* width값을 100% 차지하고 싶지 않을 때 inline-flex */
    border: 1px solid #03c75a;
    border-radius: 33px;
    text-align: left;
}
.search-group:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0, .12);
}  
.search-group > .search-svg {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    margin-right: 12px;
    height: 100%;
    padding-left: 12px;
    position: relative;
}
.search-group > .search-svg::after {
    display: none;
}
.search-group:focus-within > .search-svg::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: #e4e4e4;
    position: absolute;
    right: 0;
    top: 20px;
}
.search-group > .search-svg svg{
    width: 24px;
    height: 24px;
    fill: #03c75a;
}
.search-group > input {
    width: 480px;
    height: 58px;
    border: none;
    outline: none;
    padding: 17px 0;
    font-size: 1.5rem;
    font-weight: 700;
}
.search-group > input::placeholder {
    color: white;
}
.search-group > input:focus::placeholder {
    color: rgb(230,230,230);
}
.search-right {
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: flex-end; 
}
.search-keyboard, .search-recent, .search-btn {
    border: none;
    background: none;
    cursor: pointer;
}
.search-btn {
    padding:  17px 27px 16px 10px;
}
.search-right .search-keyboard::before {
    content: "";
    display: block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.31e4f450.png);
    background-size: 435px 423px;
    background-position: -91px -308px;
    background-repeat: no-repeat;
    width: 24px;
    height: 16px;
}
.search-right .search-keyboard:hover::before {
    filter: brightness(0.7);
}
.search-right .search-recent::before {
    content: "";
    display: block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.31e4f450.png);
    background-size: 435px 423px;
    background-position: -318px -247px;
    background-repeat: no-repeat;
    width: 10px;
    height: 6px;
}
.search-right .search-btn::before {
    content: "";
    display: block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.31e4f450.png);
    background-size: 435px 423px;
    background-position: -295px -329px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}
nav{
    margin-top: 12px;
}
nav > ul {
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 1rem;
    line-height: 20px;
} 
nav a {
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-flow: column;
}
nav a div{
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 50px;
    height: 48px;
}
nav a div::after {
    content: "";
    display: inline-block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.31e4f450.png);
    background-size: 435px 423px;
    background-position: -250px -90px;
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    position: relative;
    z-index: 1;
}
nav a div::before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -3px;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.31e4f450.png);
    background-size: 435px 423px;
    background-position: 0px -128px;
    background-repeat: no-repeat;
    width: 54px;
    height: 54px;
}
nav a:visited {
    color : #333;
}
nav li {
    width: 64px;
    margin-left: 4px;
    text-align: center;
}
nav li a span{
    display: inline-block;
    margin-top: 10px;
}
nav li:nth-of-type(1) {
    margin-left: 0;
}
nav li:nth-of-type(2) a div::after {
    background-position: -250px 0px;
}
nav li:nth-of-type(3) a div::after{
    background-position: -201px -98px;
}
nav li:nth-of-type(4) a div::after{
    background-position: -90px -209px;
}
nav li:nth-of-type(5) a div::after{
    background-position: 0px -209px;
}
nav li:nth-of-type(6) a div::after{
    background-position: -180px -209px;
}
nav li:nth-of-type(7) a div::after{
    background-position: -45px -209px;
}
nav li:nth-of-type(8) a div::after{
    background-position: -201px 0px;
}
nav li:nth-of-type(9) a div::after{
    background-position: -225px -209px;
}
nav li:nth-of-type(10) a div::after{
    background-position: -250px -135px;

}
/* MAIN */
main {
    margin-top: 62px;
    display: flex;    
}
.main-left {
    width: 830px;
    margin-right: 30px;
}
.main-right {
    width: 420px;
    border-radius: 8px;
}
.main-left-ad, .news-stand,
.main-login, .main-right-ad, .main-weather, .main-stock {
    box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0,0,0,.04);
    border-radius: 8px;
}
.main-login, .main-right-ad, .main-weather, .main-stock {
    width: 380px;
}
.main-left-ad{
    height: 130px;
    margin-bottom: 16px;
    background-color: gray;  
}
.main-right-ad{
    height: 240px;
    margin-top: 16px;
    background-color: beige;
}
.news-stand {
    height: 426px;
}
.main-login {
    height: 164px;
    padding: 21px 20px 18px;
    font-size: 1.1rem;
    display: inline-flex;
    flex-flow: column;
    justify-content: space-around;
}
.main-login > div:first-child {
    text-align: center;
}
.main-login > .main-login-btn { 
    padding: 17px 0;
    background-color: #03c75a;
    color: #fff;
    text-align: center;
    border-radius: 4px;
}

.main-login > .main-login-btn p:first-of-type{
    font-size: 1.3rem;
}
.main-login > .main-login-btn:hover {
    background-color: #17b75e;
    box-shadow: 0 2px 4px 0 rgba(3,199,90,.24)
} 

.main-login > .user-info {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
}

.main-login > .user-info a:nth-of-type(2){
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
}
.main-login > .user-info a:nth-of-type(2)::before,
.main-login > .user-info a:nth-of-type(2)::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: var(--color_dot_divider);
    position: absolute;
    top: 2px;
}
.main-login > .user-info a:nth-of-type(2)::before{
    left:0;
}
.main-login > .user-info a:nth-of-type(2)::after{
    right: 0;
}
.main-weather, .main-stock {
    padding: 0 18px;
    height: 236px;
}

.main-header {
    height: 52px;
    padding: 6px 0;
    margin-top: 16px;
}